<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      {% assign nItems = site.data.navigation-others | size %}
      {% if nItems == 0 %}
      {% else %}
        <p class="text-center grey">Find me on</p>
        <ul>
          {% for item in site.data.navigation-others %}
            <li>
                <a class="text-dark" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
